body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: 333;
}

.header {
    background: MediumSlateBlue;
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 35px;
    justify-content: center;
    border: 3px solid;  
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.menu {
	background: SteelBlue;
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 35px;
    justify-content: left;
    border: 3px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.first {
    background: SteelBlue;
    color: black;
    width: 250px;
    height: 50px;
    display: flex;
    font-size: 35px;
    justify-content: center;

}

.second {
    background: SteelBlue;
    color: black;
    width: 850px;
    height: 50px;
    display: flex;
    font-size: 35px;
    justify-content: center;
}

.third {
    background: SteelBlue;
    color: black;
    width: 750px;
    height: 50px;
    display: flex;
    font-size: 35px;
    margin-left: 70px;
    justify-content: center;
}

.main {
	background: LightYellow;
    color: black;
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 35px;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
}

.body {
  background: green;
}

.infa1 {
    background: SteelBlue;
    color: black;
    width: 100%;
    height: 30%;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: start;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
}

.infa2 {
    background: SteelBlue;
    color: black;
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: start;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
}

.infa3 {
    background: SteelBlue;
    color: black;
    width: 100%;
    height: 30%;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: start;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
}

.infa4 {
    background: SteelBlue;
    color: black;
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: start;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
}

footer{
    background: SteelBlue;
    color: black;
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: start;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 3px solid;
    padding: 5px;
}

